/*===============================

        ARCADIS COLOURS

================================*/

//  primary colors
$color_heritage: #e4610f;
$color_confident: #1d1d1d;
$color_integrity: #ffffff;
$color_know_how: #b3b3b3;

// secondary colors
$color_natural: #0da642;
$color_collaboration: #55575a;
$color_built: #f8da40;
$color_growth: #c3d200;
$color_fluidity: #00a9e4;
$color_strength: #e41f13;