/*
ARCADIS STYLE SHEET
*/

/* =============================

             GENERAL

===============================*/

@font-face {
  font-family: Open-Sans;
  src: url('https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2');
}

* {
  box-sizing: border-box;
  font-family: Open-Sans, SansSerif, "Lucida Grande", Verdana, Arial, sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  flex-direction: column;

}

/*===============================

             COLOURS

================================*/

//  primary colors
$color_heritage: #e4610f;
$color_confident: #1d1d1d;
$color_integrity: #ffffff;
$color_know_how: #b3b3b3;

// secondary colors
$color_natural: #0da642;
$color_collaboration: #55575a;
$color_built: #f8da40;
$color_growth: #c3d200;
$color_fluidity: #00a9e4;
$color_strength: #e41f13;

/*===============================

             CONTENT

================================*/

.container, body, nav, main, footer, col, .main-container {
  display: flex;
}

.container {
  height: 100vmin;
  flex-direction: column;
}

input, button {
  display: block;
}

nav {
  background: $color_collaboration;
  height: 80px;
  padding: 3px 20px;
}

footer {
  background: $color_collaboration;
  height: 40px;
}

main {

  padding: 15px 10px;
  flex: 1;

}

#header-logo {

}

#header-text {
  margin: auto;
  font-size: 2em;
  color: $color_know_how;
}

#author {
  font-size: 0.75em;
  color: $color_know_how;
  margin: auto 30px auto auto;

}

/*MAIN container*/

main {
  flex-direction: column;
  flex: 1;
  padding: 8px;
}

.main-container {
  flex-direction: column;

}

a {

  color: $color_know_how;

}

.btn {
  border: none;
  width: 216px;
  height: 80px;
  background: $color_integrity;
  box-shadow: 0 4px 4px $color_collaboration;
  font-size: 1.4em;
  margin: auto;
  transition: background 0.2s ease-in-out;
  position: relative;

  &:hover {

    box-shadow: 0 5px 4px darken($color_collaboration, 0.6);
    background: darken($color_integrity, 0.8);
    cursor: pointer;
    bottom: 2px;

  }

  &:focus {
    outline: none;
  }

  &:active {
    background: $color_know_how;
  }

}

.generate {
  background: rgba($color_know_how, 0.1);
  padding: 15px;
  width: 720px;
  margin: auto;

}

label {
  font-weight: bold;
  font-size: 0.9em;
}

/*=========================


     Object tree


===========================*/

.node {

  cursor: pointer;

  circle {
    fill: #fff;
    stroke-width: 3px;
  }

  text {
    font-size: 0.8em;
    text-decoration: underline;
    fill: steelblue;
    font-weight: bolder;
  }
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;

}


.main-container {
  flex: 1;

}

my-app {
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 5px;

}

#graph {
  border-top: 1px rgba($color_know_how, 0.3) solid;
  border-bottom: 1px rgba($color_know_how, 0.3) solid;
  margin: 0 auto;

}

